<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="EnableSsl" value="true"/>
    <add key="MailReceiver" value="receiver@receiver.com"/>
    <add key="MailSender" value="sender@sender.com"/>
    <add key="SenderPassword" value="sender123password"/>
    <add key="LoggingEnabled" value="true" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ipsender.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>