<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <!-- if defined, sending mail only of changes to named interface, otherwise sending mail of all interfaces-->
    <add key="ObservableNetworkInterface" value="Ethernet"/>      
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="EnableSsl" value="true"/>    
    <add key="MailReceiver" value="mailreceiver123@receiver123.com"/>
    <add key="MailSender" value="mailsender123@sender123.com"/>
    <add key="SenderPassword" value="pw123"/>
    
    <!-- RDC connection file settings-->
    <add key="CreateRdcFile" value="true"/>
    <add key="RdcUserName" value="rdcdomain/rdcusername"/>
    <add key="UseAllMonitors" value="true"/>
    <add key="UseLocalDevicesPrinters" value="true"/>
    <add key="UseLocalDevicesClipboard" value="true"/>
    <add key="UseLocalDevicesDrives" value="false"/>    
    
    <!-- if defined (true/false), writing system.diagnostics trace log-->
    <add key="LoggingEnabled" value="true" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ipsender.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>